.header {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height : 10vh;
    background-color: #282c34;
}

.title-parent {
    display: inline-block;
    margin-left: 20px;
    width: 200px;
    grid-row: 2;
}
.title {
    display: inline-block;
    font-size: 30px;
    color: white;
    vertical-align: bottom;
    width: 60%;
}

.subtitle {
    display: inline-block;
    width: 35%;
    margin-left: 5%;
    font-size: 20px;
    color: white;
    vertical-align:bottom;
    white-space: nowrap;
}